<form #postForm="ngForm">
    <!-- <mat-accordion> -->
    <!-- 1. Choose the Style -->
    <mat-expansion-panel [expanded]="step === 0">
        <mat-expansion-panel-header>
            <mat-panel-title>
                1. Choose the Style
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="img-row">
            <strong class="strong">Color:</strong>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle value="bold" (click)="chooseBlank()">Blank</mat-button-toggle>
                <mat-button-toggle value="italic" (click)="chooseFullColor()">Full Color</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" *ngIf="fullColor">
                <mat-button-toggle value="bold" (click)="chooseOneSided()">One Sided</mat-button-toggle>
                <mat-button-toggle value="italic" (click)="chooseTwoSided()">Two Sided</mat-button-toggle>
            </mat-button-toggle-group>
        </p>
        <p class="img-row">
            <img src="../../assets/imgs/blank-color.jpg" alt="blank" *ngIf="blankImg">
            <img src="../../assets/imgs/full-color.jpg" alt="color" *ngIf="colorImg">
        </p>
    </mat-expansion-panel>
    <!-- 2. Select the Material -->
    <mat-expansion-panel [disabled]="isDisabledMaterial" [expanded]="isDisabledMaterial == false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                2. Select the Material
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            <mat-form-field appearance="fill" name="materialForm" #materialForm>
                <mat-label>Select a Material Option</mat-label>
                <!-- BLANK COLOR SELECTED -->
                <!-- <mat-select *ngIf="blankColorFlag"> -->
                    <!-- <mat-option *ngFor="let material of materials" [value]="material.value" name="material">
                        <span (click)="selectedMaterial(material.value)">{{ material.value }}</span>
                    </mat-option> -->
                <!-- </mat-select> -->
                <mat-select
                    *ngIf="blankColorFlag" 
                    [(ngModel)]="blankSelectedValue" 
                    name="material" 
                    (selectionChange)="selectedBlankMaterial()">
                        <mat-option *ngFor="let material of materials" [value]="material.value">
                            {{ material.prodMaterial }} 
                        </mat-option>
                </mat-select>
                <!-- FULL COLOR ONE SIDE SELECTED -->
                <mat-label>Select a Material Option</mat-label>
                <mat-select
                    *ngIf="oneSidedMaterialFlag" 
                    [(ngModel)]="fullColorOneSideSelectedValue" 
                    [ngModelOptions]="{standalone: true}" 
                    (selectionChange)="selectedFullColorOneSideMaterial()"
                    name="oneSidedMaterial">
                        <mat-option *ngFor="let material of oneSidedMaterial" [value]="material.value"
                            name="oneSidedMaterial">
                            <span>{{ material.value }}</span>
                        </mat-option>
                </mat-select>
                <!-- FULL COLOR TWO SIDE SELECTED -->
                <mat-label>Select a Material Option</mat-label>
                <mat-select 
                    *ngIf="twoSidedMaterialFlag" 
                    [(ngModel)]="fullColorTwoSideSelectedValue" 
                    [ngModelOptions]="{standalone: true}" 
                    (selectionChange)="selectedFullColorTwoSideMaterial()"
                    name="twoSidedMaterial">
                        <mat-option *ngFor="let material of twoSidedMaterial" [value]="material.value"
                            name="twoSidedMaterial">
                            <span>{{ material.value }}</span>
                        </mat-option>
                </mat-select>
            </mat-form-field>
        </p>
    </mat-expansion-panel>
    <!-- 3. Define the Dimensions -->
    <mat-expansion-panel [disabled]="isDisabledDimensions" [expanded]="isDisabledDimensions == false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                3. Define the Dimensions
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            <strong>Width: </strong>
            <mat-form-field class="example-form-field">
                <mat-label>Ft</mat-label>
                <input matInput type="text" [(ngModel)]="enteredWidthFt" name="widthFt">
            </mat-form-field>
            <mat-form-field class="example-form-field">
                <mat-label>In</mat-label>
                <input matInput type="text" [(ngModel)]="enteredWidthIn" name="widthIn">
            </mat-form-field>
        </p>
        <p>
            <strong>Height:</strong>
            <mat-form-field class="example-form-field">
                <mat-label>Ft</mat-label>
                <input matInput type="text" [(ngModel)]="enteredHeightFt" name="heightFt">
            </mat-form-field>
            <mat-form-field class="example-form-field">
                <mat-label>In</mat-label>
                <input matInput type="text" [(ngModel)]="enteredHeightIn" name="heightIn">
            </mat-form-field>
        </p>
        <strong>Total (in Square Ft): </strong>{{ enteredWidthFt * enteredHeightFt }}
    </mat-expansion-panel>
    <!-- 4. Select A Finishing Type -->
    <mat-expansion-panel [disabled]="isDisabledDimensions" [expanded]="isDisabledDimensions == false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                4. Select A Finishing Type
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Select a Finishing Type</mat-label>
                <mat-select 
                    [(ngModel)]="enteredProdType" 
                    (selectionChange)="selectedType()"
                    [ngModelOptions]="{standalone: true}" name="type">
                    <mat-option *ngFor="let type of finishType" [value]="type.value">
                        <span>{{ type.value }}</span>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </p>
    </mat-expansion-panel>
    <!-- </mat-accordion> -->
    <div class="send">
        <button [disabled]="nextBtnFlag" mat-raised-button color="primary" (click)="goToNext()">Next</button>
    </div>
    <mat-horizontal-stepper linear #stepper *ngIf="addressFlag">
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Fill out your name</ng-template>
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input name="userName" matInput formControlName="userName" placeholder="Last name, First name"
                        required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Fill out your address</ng-template>
                <mat-form-field>
                    <mat-label>Address</mat-label>
                    <input name="address" matInput formControlName="address" placeholder="Ex. 1 Main St, New York, NY"
                        required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p class="done-form">You are now done.</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
                <!-- <button mat-button (click)="sendAddress()">SEND</button> -->
            </div>
        </mat-step>
    </mat-horizontal-stepper>
    <div class="send">
        <button [disabled]="sendRequestBtn" (click)="sendData(postForm)" mat-raised-button color="primary">Send
            Request</button>
    </div>
</form>


<!-- tests -->
<!-- <button (click)="getFinishType()">get finish type</button> -->
<!-- <form [formGroup]="form">
    <input matInput type="text" formControlName="title1">
    <mat-error *ngIf="form.get('title').invalid"></mat-error>
    <input matInput type="text" formControlName="content2"> -->
    <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
    <input type="file" #filePicker (change)="onImagePicked($event)">
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview ">
        <img [src]="imagePreview">
    </div>
    <!-- <button mat-raised-button color="primary" type="submit" (click)="sendImg()">send img</button>
</form> -->
<a routerLink="/admin">go to admin panel</a>
