.strong {
    display: block;
    padding: 1rem 0;
}
.mat-button-toggle-group {
  margin-left: 12px;
}
mat-button-toggle-group {
    margin-right: 12px;
}

.example-form-field {
    margin: 0 20px;
}

.send {
    text-align: right;
    margin: 10px 0;
}

.done-form {
    font-weight: bold;
    color: red;
}

.img-row {
    display: inline-block;
    img {
        width: 120px;
    }
}

mat-expansion-panel-header:hover {
    //background-color: black
}

//// test
input[type="file"] {
    visibility: hidden;
}

// test

// .product_list {
//     display: flex;
//     .example-card {
//         width: 200px;
//     }
// }

.example-header-image {
    img {
        width: 100%;
    }
}

mat-card-image {
    width: 100%;
}

.my-card {
    margin: 10px 0;
}