<form 
    [formGroup]="adminPanelForm" 
    (ngSubmit)="save()">
    <mat-form-field appearance="fill" class="admin-panel-wrapper">
        <mat-label>Add Color Value</mat-label>
        <input class="admin-panel" matInput formControlName="color" minlength="3" required>
        <mat-error *ngIf="adminPanelForm.errors?.required || adminPanelForm.get('color').dirty">Please Enter Color</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="admin-panel-wrapper">
        <mat-label>Add Material</mat-label>
        <input class="admin-panel" matInput formControlName="material" minlength="3" required>
        <mat-error *ngIf="adminPanelForm.errors?.required || adminPanelForm.get('color').dirty">Please Enter Material</mat-error>  
    </mat-form-field>
    <mat-form-field appearance="fill" class="admin-panel-wrapper">
        <mat-label>Add Finish Type</mat-label>
        <input class="admin-panel" matInput formControlName="type" minlength="3" required>
        <mat-error *ngIf="adminPanelForm.errors?.required || adminPanelForm.get('color').dirty">Please Enter Type</mat-error>  
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="!adminPanelForm.valid">Send</button>
</form>
<br>Dirty: {{ adminPanelForm.dirty }}
<br>Touched: {{ adminPanelForm.touched }}
<br>Valid: {{ adminPanelForm.valid }}
<br>Value: {{ adminPanelForm.value | json }}