<app-header></app-header>
<div class="container">
    <h3>add products</h3>
    <form [formGroup]="adminPanelProduct" (ngSubmit)="saveProduct()">
        <mat-form-field appearance="fill" class="admin-panel-wrapper">
            <mat-label>Add Size</mat-label>
            <input class="admin-panel" matInput formControlName="size" minlength="1" required>
            <mat-error *ngIf="adminPanelProduct.errors?.required || adminPanelProduct.get('size').dirty">Please Enter
                Size
                of Product</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="admin-panel-wrapper">
            <mat-label>Add Group</mat-label>
            <input class="admin-panel" matInput formControlName="group" minlength="1" required>
            <mat-error *ngIf="adminPanelProduct.errors?.required || adminPanelProduct.get('group').dirty">Please Enter
                Group
                of Product</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="admin-panel-wrapper">
            <mat-label>Add Classification</mat-label>
            <input class="admin-panel" matInput formControlName="classification" minlength="1" required>
            <mat-error *ngIf="adminPanelProduct.errors?.required || adminPanelProduct.get('classification').dirty">
                Please
                Enter Classification of Product</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="admin-panel-wrapper">
            <mat-label>Add Pattern</mat-label>
            <input class="admin-panel" matInput formControlName="pattern" minlength="1" required>
            <mat-error *ngIf="adminPanelProduct.errors?.required || adminPanelProduct.get('pattern').dirty">Please
                Enter a Pattern of Product</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="admin-panel-wrapper">
            <mat-label>Add Variety</mat-label>
            <input class="admin-panel" matInput formControlName="variety" minlength="1" required>
            <mat-error *ngIf="adminPanelProduct.errors?.required || adminPanelProduct.get('variety').dirty">Please
                Enter Variety of Product</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="admin-panel-wrapper">
            <mat-label>Add Model</mat-label>
            <input class="admin-panel" matInput formControlName="model" minlength="1" required>
            <mat-error *ngIf="adminPanelProduct.errors?.required || adminPanelProduct.get('model').dirty">Please
                Enter Model of Product</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="admin-panel-wrapper">
            <mat-label>Add Price</mat-label>
            <input class="admin-panel" matInput formControlName="price" minlength="1" required>
            <mat-error *ngIf="adminPanelProduct.errors?.required || adminPanelProduct.get('price').dirty">Please
                Enter Price of Product</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" [disabled]="!adminPanelProduct.valid">Add</button>
    </form>


    <h3>adminPanelProduct</h3>
    <br>Dirty: {{ adminPanelProduct.dirty }}
    <br>Touched: {{ adminPanelProduct.touched }}
    <br>Valid: {{ adminPanelProduct.valid }}
    <br>Value: {{ adminPanelProduct.value | json }}
</div>


<app-footer></app-footer>